.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}
  
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: calc(33.33% - 60px); /* Adjust the width for smaller screens */
    max-width: 400px; /* Maximum width for larger screens */
    height: 380px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.card img {
    max-width: 100%;
    height: 70%;
    border-radius: 8px 8px 0 0;
}
  
.card h4 {
    margin: 16px 0 8px;
  }
  
.card p {
    margin: 8px 0;
}
  
.card h5 {
    margin: 16px 0;
}
  
  .card button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #45a049;
  }
  
  body {
    background-color: #edeae0;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 40px); /* Adjust the width for smaller screens */
    }
  }
  
  /* Media Query for even smaller screens */
  @media (max-width: 480px) {
    .card {
      width: calc(100% - 20px); /* Adjust the width for smaller screens */
    }
  }
  