*{
  background-color: none rgb(227, 227, 227);
}
.navbar {
  background-color:rgb(115 64 96 / var(--tw-bg-opacity));
  overflow: hidden;
  display: flex;
  align-items: center;
}

.navbar {
  height: 75px; 
}
.logo{
  border-radius: 2px;
  height: 100px; 

}
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: x-large;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar {
  background-color: rgb(115, 64, 96);
  color: white;
}
.login{
  margin-left: auto;
}



.input{
  margin: auto;
  border-radius: 1%;
  width: 30%;
  height: 30px;
  font-size: 17px;
}
.icon{
  height: 20%;
  margin-left:-173px;
}
.icon1{
  height: 28%;
  margin-left:-36px;
}
.input1{
  margin-left: 900px;
  border-radius: 1%;
  width: 30%;
  height: 30px;
  font-size: 17px;
}


@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: center;
      height: auto;
  }
 

  .navbar a {
      width: 100%;
      padding: 10px;
      font-size: large;
  }

 

  .input {
      width: calc(100% - 180px);
  }

  .icon {
      height: 24px;
      margin-left: 0;
      display: none;
      
  }

  .login, .sign {
      width: 100%;
  }
}
.index{
  color: rgb(128, 15, 0);
}
.a{
  text-align: center;
  font-size: xx-large;

}
a{
  color:green;
}


.index {
  text-align: center;
}

.letters {
  text-align: center;
  margin: 20px 0;
  font-size: x-large;
}

.letters a {
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
  color:green;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  margin: 20px;
  text-align: center;
}

.recipe img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
